.ops-sidebar-img { width: 100%; max-width: 32px; height: auto; margin-right: 5px;  }
.ops-sidebar-logo { width: 100%; max-width: 215px; height: auto; }
.ops-nav-logo {width: 100%; max-width: 125px; height: auto;}
.tab-content {background-color: #ecf0f5; }