.ops-sidebar-img { width: 100%; max-width: 32px; height: auto; margin-right: 5px;  }
.ops-sidebar-logo { width: 100%; max-width: 215px; height: auto; }
<<<<<<< HEAD
.ops-nav-logo {width: 100%; max-width: 125px; height: 50px;  margin-top: -11px;}
=======
.ops-nav-logo {width: 100%; max-width: 80px; height: auto; margin-bottom: -18px;}
>>>>>>> c57481a5593fdf51621b3aa3f7978790c59b23c2
.tab-content {background-color: #fcfcfc; padding: 15px; border: 1px #ebebeb solid; }
.ops-table-img {width: 100%; max-width: 150px; height: auto;}
.header-top-entry .title a:hover { text-decoration: none; }
.header-top-entry .title li { list-style: none; }
.login-group { padding: 20px; background-color: #d2d6de; text-align: center; }
.login-group-content { background-color: #ffffff; }
.signup-group { padding: 20px; background-color: #d2d6de; text-align: center; }
.signup-group-content { background-color: #ffffff; }
.active-group {background-color: #00a65a;}
.ops-logo {width: 100%; max-width: 150px; height: auto; }