.ops-sidebar-img { width: 100%; max-width: 32px; height: auto; margin-right: 5px;  }
.ops-sidebar-logo { width: 100%; max-width: 100px; height: auto; margin-left:40px }
.ops-nav-logo {width: 100%; max-width: 150px; height: auto; margin-top: -10px;}
.tab-content {background-color: #fcfcfc; padding: 15px; border: 1px #ebebeb solid; }
.ops-table-img {width: 100%; max-width: 150px; height: auto;}
.header-top-entry .title a:hover { text-decoration: none; }
.header-top-entry .title li { list-style: none; }
.login-group { padding: 20px; background-color: #d2d6de; text-align: center; margin-top: -15px; }
.login-group-content { background-color: #ffffff; }
.signup-group { padding: 20px; background-color: #d2d6de; text-align: center; margin-top: -15px; }
.signup-group-content { background-color: #ffffff; }
.active-group { background-color: #00a65a; }
.ops-logo {width: 100%; max-width: 250px; height: auto; }
.footerlogo {width: 100%;max-width: 250px; height: auto; margin-top: -20px; margin-left: -15px; }
.error-box p { text-align: center; font-weight: bold; color: red;}
.form-group.has-error p {color: red;}
.photo-container {border: solid 1px #d2d6de; padding: 10px;}
.file { visibility: hidden; position: absolute; }
.image-preview .form-group {padding: 20px; margin-top: 5px; border: solid 1px #e3e3e3; background-color: #d2d6de; }
.image-preview img {max-width: 160px; width: 100%; height: auto; }
.table-pic img { max-width: 100px; width: 100%; height: auto; }
.modal-content { margin: auto; display: block; width: 80%; max-width: 400px;}
.break { height: 3px; background: #1C8F01; width: 1140px; margin-bottom: 10px; }
.page-wrapper {padding: 15px 30px;min-height: 600px; background: #F3F3F3; }
.page-inner {width: 100%; margin: 50px 20px 10px 0px; background-color: #fff !important; padding: 10px; }
.alert-cart {padding: 20px; width: 100%; z-index: 9999; display: none;}
.badge-danger { background-color: #b94a48;}
.badge-danger:hover { background-color: #953b39;}
.badge-warning { background-color: #f89406;}
.badge-warning:hover { background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info { background-color: #3a87ad; }
.badge-info:hover { background-color: #2d6987;}
.badge-inverse { background-color: #333333;}
.badge-inverse:hover { background-color: #1a1a1a;}
.cart-badge {margin-bottom: 25px !important; }
.open-cart-popup { color: #000000; }
.open-cart-popup:hover { color: #000000; }
.shop-nav { height: 70px; background-color: #e6ffe6; }
.btn-checkout { margin-bottom: 10px; }
.cont { margin-top: -25px; padding: 20px;}
.errMess { color: #b94a48; }
.total-price {font-weight: bolder;}
.order-group { padding: 20px; background-color: #d2d6de; text-align: center; margin-top: -15px; cursor: pointer; }
.order-group-content { background-color: #ffffff; }
.reserve-group { padding: 20px; background-color: #d2d6de; text-align: center; margin-top: -15px; cursor: pointer; }
.reserve-group-content { background-color: #ffffff; }
.active-tab { background-color: #00a65a; }
.form-control .half-col { width: 50%; }
.ch-label {margin-right: 20px;}
.easyPaginateNav { padding:20px; border-top: 1px #1C8F01 solid; border-bottom: 1px #1C8F01}
.easyPaginateNav a { width: 28px; line-height: 28px; border: 1px #e3e3e3 solid; display: inline-block; font-size: 12px; color: #666666; font-weight: 500; text-align: center; margin-right: 4px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:none; background: #1C8F01; border-color: #1C8F01; color: #fff;}
.pre-loader { padding: 20px; position:relative;} 
.pre-loader img {vertical-align: middle; max-width: 100px; width: 100%; height: auto; margin-left: 40%;}